<div class="comments" id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="{% if site.comments.cusdis_app_id %}{{ site.comments.cusdis_app_id }}{% else %}{{ site.cusdis_app_id }}{% endif %}"
  data-page-id="{{ page.relative_path }}"
  data-page-url="{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="{{ site.color_theme }}"
></div>
<script defer src="https://jdsalingzx.top/assets/js/zh-cn.js"></script>
<script async defer src="https://cusdis.ccknbc.cc/js/cusdis.es.js"></script>